<!--{block return}-->
<!--{eval $LAB = '$LAB';
$lib = './data/asset/scripts/lib';}-->
<link rel="shortcut icon" href="favicon.ico" type="x-icon"/>
<script type="text/javascript" src="$lib/LAB.js"></script>
<script type="text/javascript" src="$lib/sea.js"></script>
<script type="text/javascript" src="$lib/config.js"></script>
<script type="text/javascript">
(function(w, d) {w.isOLDIE = !-[1, ];w.lib = '$lib/';
w.jQueryPath = w.lib+'jquery/jquery' + (w.isOLDIE ? 'I' : 'N') + 'E.js';
$LAB.script(w.jQueryPath).wait(function() {
w.jQuery = jQuery.noConflict();})})(window, document);
</script>
$_G['cache']['plugin']['dps_header']['headertags']
<!--{/block}-->